/* banner section start
	============================================================================================ */
h2.contact {
  color: $white!important;
  font-size: 3rem!important;
}

.carousel-control-next, .carousel-control-prev{
  width: 3%;
  top: calc(50% - 90px);
  background: #000;
  height: 15%;

}

.header-image{
  position:relative;
  background:url('../img/banner/babesday_back.webp') center/cover no-repeat;
  min-height:764px;
  padding-bottom:100px;
  overflow:hidden;
  &.banner_evening{
    position: relative;
    background:url('../img/banner/babesday_back_2.webp') center/cover no-repeat!important;
    min-height:764px;
    padding-bottom:100px;
    overflow:hidden;
  }
}

.hero-banner-icon{
  color: $white;
  display: inline-block;
  // margin-bottom: 10px;

  @media(min-width: 768px){
    margin-bottom: 10px;
  }

  i,span{
    font-size: 35px;

    @media(min-width: 768px){
      font-size: 60px;
    }
  }

  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    font-size: 35px;

    @media(min-width: 768px){
      font-size: 60px;
    }
  }
}

.main_card{
  width: 100%;
  position: relative;
  z-index: 500;
}

.main_card_overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  opacity: .5;
  z-index: -1;
}
/* banner section end
  ============================================================================================ */



/* breadcrumb section start
  ============================================================================================ */
  .banner-breadcrumb{
    display: inline-block;
    
    .breadcrumb{
      background: transparent;
      padding: 0;
  
      &-item{
        padding: .1rem;
  
        a{
          text-transform: capitalize;
          color: #fff;
        }
  
        &+.breadcrumb-item::before{
          color: #fff;
          padding-left: .2rem;
          padding-right: .4rem;
          // content: "-";
        }
  
        &.active{
          color: #fff;
        }
      }
    }
  }
/* breadcrumb section end
  ============================================================================================ */