/* font family
	============================================================================================ */
$title-font: 'Oswald', sans-serif;
$text-font: 'Oswald', sans-serif;
$text-font-bold: 'Oswald',sans-serif;


/* color variables
	============================================================================================ */
$title-color: #242424;
$text-color: #797979;
$primary-color: #4f77ff;
$primary-color2: #f72c04;
$primary-color_rouge_fonce:#4c221b;
$primary-color_bleu_fonce:#3a4699;


$black: #242429;
$link-color: #666666;
$white: #fff;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
//@font-face {
//  font-family: 'Futura';
//  src: url('font/Futura-CondensedMedium-04.ttf');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'FuturaBold';
//  src: url('font/Futura-Bold-03.ttf');
//  font-weight: normal;
//  font-style: normal;
//}





